<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests Blender</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='loader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='text.css') }}">
</head>
<body>

    <h1 class="text title">Mixwer - mixing answers</h1>

   <p class="text description">
    Blend multiple tests with this program:
    <ol>
        <li class="text description">Upload one or more PDF files using the "Choose File" button.</li>
        <li class="text description">Click "Upload PDF" and wait for the process to complete (this may take a few minutes).</li>
        <li class="text description">Upon success, download your blended tests in a ZIP file.</li>
    </ol>
</p>

    <div class="upload-section">
        <div class="file-upload-container">
            <input type="file" id="pdfInput" class="file-input" accept=".pdf" multiple>
            <label for="pdfInput" class="file-label button">Choose File</label>
        </div>
        <button onclick="uploadPDF()" id="uploadBtn" class="button uploadBtn">Upload PDF(s)</button>
    </div>

    <div class="upload-section">
        <button onclick="downloadZIP()" id="downloadBtn" class="button downloadBtn" hidden>Download ZIP</button>
    </div>

    <div id="result" class="text resultMsg" content="">
    </div>

    <div id="loader"></div>

    <!-- Add copyrights at the bottom of the page -->
    <footer>
        <p class="text copyright">&copy; This website was made by Avishai Gonen, the algorithm was made by Oz Diei. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
